# Configuration de la base de données Neo4j
NEO4J_PASSWORD=mettez_votre_mot_de_passe_ici

# Sécurité JWT (Clé de 64 caractères conseillée)
JWT_SECRET=mettez_votre_cle_secrete_ici

MAIL_PASSWORD=mettez_vote_mot_de_passe_de_16_caracteres_généré_par_google