# Fichiers SYS ET IDE

.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

.env
gitleaks-report.json

# Backend Spring Boot

backend/target/
backend/.idea/
backend/*.iml
backend/.metadata/
backend/.settings/
backend/bin/

# Frontend React w Node.js

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*